In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the data
JC240_data = pd.read_csv('JC240_data.csv')
JC241_data = pd.read_csv('JC241_data.csv')

# Show data
JC240_data.head()
JC241_data.head()

   Session_ID Flavor  Arm Correct  CorrectBool
0           1      H    3       N            0
1           1      H    7       Y            1
2           1      H    4       N            0
3           1      H    7       Y            1
4           1      H    2       N            0

In [2]:
# Calculate accuracy for session 1
bysession_JC40 = JC240_data.groupby("Session_ID")
session1_accuracy = bysession_JC40.get_group(1)["CorrectBool"].sum() / bysession_JC40.get_group(1).count()[0] * 100
print(session1_accuracy)

46.15384615384615

In [3]:
# List all sessions
JC240_sessions = JC240_data["Session_ID"].unique()

In [4]:
# Calculate accuracy for all sessions
# Output:
# Session 1: sum(CorrectBool)/c
# Session2:
JC240_data.groupby("Session_ID").apply(list)

Session_ID
1     [Session_ID, Flavor, Arm, Correct, CorrectBool]
2     [Session_ID, Flavor, Arm, Correct, CorrectBool]
3     [Session_ID, Flavor, Arm, Correct, CorrectBool]
4     [Session_ID, Flavor, Arm, Correct, CorrectBool]
5     [Session_ID, Flavor, Arm, Correct, CorrectBool]
6     [Session_ID, Flavor, Arm, Correct, CorrectBool]
7     [Session_ID, Flavor, Arm, Correct, CorrectBool]
8     [Session_ID, Flavor, Arm, Correct, CorrectBool]
9     [Session_ID, Flavor, Arm, Correct, CorrectBool]
10    [Session_ID, Flavor, Arm, Correct, CorrectBool]
11    [Session_ID, Flavor, Arm, Correct, CorrectBool]
12    [Session_ID, Flavor, Arm, Correct, CorrectBool]
13    [Session_ID, Flavor, Arm, Correct, CorrectBool]
14    [Session_ID, Flavor, Arm, Correct, CorrectBool]
15    [Session_ID, Flavor, Arm, Correct, CorrectBool]
16    [Session_ID, Flavor, Arm, Correct, CorrectBool]
dtype: object